* {
    box-sizing: border-box;
}

body {
    font-family: 'Abhaya Libre', serif;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}

.close {
    cursor: pointer;
}

/*remove default nav stuff*/
nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

header {
    background-color: white;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 25px;
    margin-right: auto;
    display: inline-block;
}

.logo img {
    width: 100px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    background-color: #001d3d;
    color: white;
    padding: 5px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger:hover {
    background-color: #001d3d;
    padding: 5px;
}

.hamburger:hover .bar {
    background-color: white;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.navbar {
    min-height: 70px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.navbar.scrolled {
    min-height: 50px;
}

.hero-container {
    position: relative;
    text-align: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    width: 45%;
    text-align: center;
}

.hero-text p {
    font-size: 1.2em;
}

.hero-text h1 {
    font-size: 3em;
}

h1 {
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    font-size: 100px;
}

.custom-button {
    background-color: #001d3d;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.custom-button:hover {
    border-radius: 20px;
    transform: scale(1.1);
}

.custom-button::after {
    content: '→';
    opacity: 0;
    margin-left: 5px;
    transition: opacity 0.3s ease, margin-left 0.3s ease;
}

.custom-button:hover::after {
    opacity: 1;
    margin-left: 8px;
}

h2 {
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    font-size: 75px;
}

.blurbs-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 40px;
}

.blurb img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.blurb-content h3 {
    margin-top: 0;
}

.blurb {
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 8px;
    width: calc(33.33% - 50px);
}

.blurb:nth-child(1) {
    background-color: #001d3d;
    color: white;
}

.blurb:nth-child(2) {
    background-color: #ffc300;
}

.blurb:nth-child(3) {
    background-color: #001d3d;
    color: white;
}

.section2 {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.scooterimg {
    width: 50%;
    border-radius: 10px;
}

.text-container {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.text-container h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.weather-container {
    text-align: center;
    padding: 20px;
}

.weather-container h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.weather-info {
    background-color: #ffc300;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 800px;
}

.weather-info h2 {
    font-size: 1.7em;
}

.weather-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.location {
    font-size: 24px;
}

.temperature {
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
}

.description {
    font-size: 18px;
    margin-top: 10px;
}

.forecast-info {
    font-size: 16px;
    margin-top: 20px;
}

.forecast-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.forecast-temperature {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.forecast-description {
    font-size: 14px;
    margin-top: 10px;
}

footer {
    background-color: #001d3d;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

footer p {
    margin-bottom: 10px;
}

.social-media-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media-links img {
    width: 50px;
    height: auto;
    margin: 0 10px;
}

/*Contact page styles*/

.contact-section {
    text-align: center;
    padding: 20px;
}

.contact-section h1 {
    margin-bottom: 10px;
}

.contact-section p {
    margin-bottom: 20px;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
}

.contact-form {
    width: 80%;
    max-width: 600px;
    background-color: #ffc300;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.contact-section h1,
.contact-section p {
    text-align: center;
    margin-bottom: 20px;
}

.contact-section p {
    font-size: 1.7em;
}

.input-container {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #000;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

#map {
    width: 80%;
    height: 400px;
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0 auto;
}

.thank-you {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    padding: 20px;
}

.thank-you button {
    margin-bottom: 20px;
}

.thank-you p {
    font-size: 2em;
}

.locations {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.location {
    flex-basis: calc(50% - 25px);
    margin-bottom: 20px;
}

.location-title {
    text-align: center;
    font-size: 1em;
}

/*rentals styles*/
.scooter-row {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
}

.rental-box {
    display: inline-block;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    width: calc(33.33% - 20px);
    text-align: center;
    margin: 20px;
}

.rental-box img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.details {
    padding: 10px;
    background-color: #001d3d;
    color: white;
    order: -1;
    text-align: center;
}

.details h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
    text-align: center;
}

.details p {
    margin: 0;
    text-align: center;
}

.prices {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.prices div {
    width: 48%;
    text-align: center;
    /* Adjust for spacing */
}

.prices h4 {
    font-size: 1.2em;
    margin-bottom: 5px;
    text-align: center;
}

.prices p {
    margin: 0;
    text-align: center;
}

/*JSON styles*/
/* CSS for card container */
.rentals-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}

.rental-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.rental-card:hover {
    transform: scale(1.05);
    background-color: #001d3d;
    color: white;
}

.rental-card img {
    max-width: 100%;
}

.rental-card h2 {
    font-size: 1.5em;
}

/*reservation page*/
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.center-container {
    display: flex;
    justify-content: center;
}

.checklist {
    list-style: none;
    padding-left: 20px;
    margin: 0 auto;
    font-size: 1.2em;
}

.checklist li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 8px;
}

.checklist li::before {
    content: "\2705";
}

.importantinfo {
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    font-size: 40px;
}