@media only screen and (max-width: 1024px) {

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg)
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg)
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 100%;
        gap: 0;
        flex-direction: column;
        background-color: #001d3d;
        color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu-home {
        position: fixed;
        left: -100%;
        top: 100%;
        gap: 0;
        flex-direction: column;
        background-color: #001d3d;
        color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
        height: 200px;
        top: 80px;
        flex-direction: column;
    }

    .nav-menu-home.active {
        left: 0;
        height: 200px;
        top: 150px;
        flex-direction: column;
    }

    .nav-menu.active .nav-link {
        color: white;
    }

    .nav-menu-home.active .nav-link {
        color: white;
    }

    h1 {
        font-size: 40px;
    }

    .hero-text h1 {
        font-size: 6vw;
    }

    .hero-text p {
        font-size: 2vw;
    }

    .hero-container button {
        font-size: 2.5vw;
        padding: 1.5vw 3vw;
    }

    .hero-container {
        position: relative;
        text-align: center;
        color: white;
        margin-top: 0;
        transition: margin-top 0.3s ease;
    }

    .hero-container.menu-open {
        margin-top: 193px;
    }

    .blurbs-container {
        flex-direction: column;
        margin: 15px 0;
    }

    .blurb {
        width: calc(100% - 30px);
        margin-bottom: 20px;
    }

    .blurb img {
        width: 60px;
        height: 60px;
    }

    .blurb-content h3 {
        font-size: 20px;
    }

    .scooterimg {
        width: calc(100% - 30px);
        margin: 15px 0;
        margin-bottom: 25px;
    }

    .text-container h2 {
        font-size: 1.5em;
    }

    .weather-info h2 {
        font-size: 1.2em;
    }

    .weather-details {
        margin-top: 5px;
    }

    header,
    footer {
        width: 100%;
    }

    .footer {
        text-align: center;
        padding: 20px 0;
    }

    .main-content {
        max-width: 85%;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    .section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* contact page styles*/
    .locations {
        flex-direction: column;
    }

    .location {
        flex-basis: 100%;
    }
}