@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Onest&display=swap');

body,
html {
    height: 100%;
    margin: 0;
    font-family: "Onest";
    padding: 0;
}



header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.webp");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 1200px;
}

h1 {
    text-align: center;
    font-family: "Abhaya Libre";
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

img {
    width: 100%;
    height: auto;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
}

header button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

header button:hover {
    background-color: #555;
    color: white;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    display: inline;
    background-color: #735751;
}

nav a:hover {
    border: 1px solid black;
}

header {
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
    max-width: 1200px;
    padding-top: 15px;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    max-width: 90%;
    margin: 0 auto;
}

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 10px;
    right: 10px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #1e1e1e;
}

.navigation li a:hover {
    background-color: #e7d7c1;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before {
    content: "📍 ";
}

.stuff {
    margin: .5m;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #bed;
    max-width: 580px;
    height: 100vh;
}

#section1 {
    border: #000;
    border-width: 2px;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.weather-widget {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 300px;
}

.weather-info {
    margin-top: 20px;
}

.location {
    font-size: 24px;
}

.temperature {
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
}

.description {
    font-size: 18px;
    margin-top: 10px;
}


footer {
    background-color: #735751;
    padding: 10px;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.form-section {
    max-width: 800px;
    margin: 0 auto;
    background-color: #735751;
    color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;/
}

input[type="submit"] {
    background-color: #e7d7c1;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    border-radius: 50px;
}

input[type="hidden"] {
    display: none;
}


.benefits-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.benefits-container {
    text-align: center;
}

.section-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.benefits-column {
    display: inline-block;
    width: 45%;
    padding: 10px;
    text-align: left;
}

#icon {
    width: 25px;
    height: 25px;
}

.membershipBox {
    margin: 1rem 1rem;
    border: 1px solid var(--hr);
    border-radius: 10px;
    padding: 0.5rem 2rem;
}

.membershipBox h3 {
    text-align: center;
}

#thankyouM {
    width: 90%;
    padding: 4rem 6%;
}

/*----------- HTML DIRECTORY --------------*/
.Directory_menu {
    text-align: right;
    padding: 2rem;
    margin-right: 5%;
    margin-bottom: 0;
}

.Directory_menu button {
    padding: 0.4rem 0.8rem;
    font-size: 30px;
    color: var(--main-color);
}

/* .grid #Directory_cards { */
.grid {
    background-color: var(--background-card);
    text-align: center;
    margin-top: 1rem;
    box-shadow: 0 0 60px #777;
    padding: 0.5rem;
    margin-left: -5%;
    margin-right: -5%;
}

/* .grid #Directory_cards section { */
.grid section {
    margin: 1rem;
    border: solid var(--main-color);
    border-width: 0.1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 30px #777;
    background-color: white;
    height: 200px;
    width: 390px;
}

/* .grid #Directory_cards img { */
.grid img {
    height: 45%;
    /* 95px */
    width: auto;
    margin-top: 0.8rem;
}

/* .grid #Directory_cards h3 { */
.grid h3 {
    margin: 0;
    font-family: var(--main-font);
}

/* .grid #Directory_cards p { */
.grid p {
    margin: 0.5rem;
    font-family: var(--text-font);
}

/* .grid #Directory_cards a { */
.grid a {
    text-decoration: none;
    font-family: var(--text-font);
}

/* list */

.list {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: -5%;
}

.list section {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
}


.list section:nth-child(even) {
    background-color: var(--background-card);
}

.list section h3 {
    font-family: var(--main-font);
}

.list section p {
    font-family: var(--text-font);
}

.list section a {
    font-family: var(--text-font);
    text-decoration: none;
}


.weather-box {
    border: 1px solid #000;
    padding: 20px;
    width: fit-content;
    margin: 20px auto;
    background-color: #f3f3f3;
}

.weather-heading {
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
}

.banner {
    display: none;
    background-color: #f5f5f5;
    color: #333;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9999;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
}

.banner p {
    font-size: 1.7em;
    color: black;
}

.members_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

div.section {
    display: block;
    border: 3px solid black;
    margin: .7rem;
    padding: 1rem;
    background-color: #4a5272;
    border-radius: 5px;
    color: white;
}

/* list */
.section {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    border: 3px solid black;
    background-color: #4a5272;
}

.members_list {
    display: flex;
    flex-direction: column;
    margin: 1rem 8rem 0;
    padding: 1rem;
    opacity: .7;
    color: white;
    border-radius: 5px;
}

.website {
    color: white;
    padding: .5rem;
}

.membership {
    text-align: left;
}

/* both list and grid */
.dissapear {
    display: none;
}