@media (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: space-evenly;

    }

    nav {
        background-color: #735751;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
        background-color: #735751;
        max-width: 1200px;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .simpleGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .form-section {
        width: 800px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .membership-benefits {
        flex-direction: row;
    }

    .membership-benefits div {
        width: 48%;
    }

    .Directory_menu {
        grid-column: 1/4;
        text-align: right;
    }

    .list section {
        grid-column: 1/4;
        margin-left: 2rem;
    }

    .list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.3fr;
        text-align: left;
    }
}