@media (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: space-evenly;

    }

    nav {
        background-color: #735751;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
        background-color: #735751;
        max-width: 1200px;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .simpleGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .form-section {
        width: 800px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .membership-benefits {
        flex-direction: row;
    }

    .membership-benefits div {
        width: 48%;
    }

    .Directory_menu {
        grid-column: 1/4;
        text-align: right;
    }

    .list section {
        grid-column: 1/4;
        margin-left: 2rem;
    }

    .list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.3fr;
        text-align: left;
    }

    .banner {
        display: none;
        background-color: #f5f5f5;
        color: #333;
        padding: 15px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 9999;
    }

    .close-btn {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 20px;
    }

    .meetandgreet {
        font-size: 18px;
        margin: 0;
        line-height: 1.5;
    }

    .close-btn {
        color: #888;
    }

    .close-btn:hover {
        color: #333;
    }

}