@media (min-width: 640px) {
    nav ul{
    display: flex;
    justify-content: space-evenly;

    }  
    nav ul li{
    flex: 1 1 100%;
    } 
	iframe {
		max-width: 1200px;
		align-self: center;
	}
}
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
}
